* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

:root {
	--red: rgb(229, 9, 0);
	--white: #fff;
	--gray: rgba(255, 255, 255, 0.7);
	--black: rgb(0, 0, 0);
	--dark-gray: rgb(45, 45, 45);
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: relative;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

button {
	background-color: var(--red);
	color: var(--white);
	font-size: 14px;
	border: none;
	outline: none;
	border-radius: 5px;
	width: 100px;
	padding: 10px;
}

select {
	padding: 10px;
	background-color: transparent;
	color: var(--white);
	border-radius: 5px;
}

h1 {
	font-size: 48px;
	font-weight: bolder;
}

h2 {
	font-size: 46px;
	font-weight: bolder;
}

h3 {
	font-size: 30px;
	font-weight: normal;
}

h4 {
	font-size: 20px;
	font-weight: normal;
}

img {
	width: 100%;
}

.border-top-bottom {
	border-top: 5px solid var(--gray);
	border-bottom: 5px solid var(--gray);
}

nav {
	position: absolute;
	width: 100%;

	& .nav__inner {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}

	& img {
		width: 100%;
		max-width: 150px;
	}
}

.hero-section {
	background: url(./assets/bg-image.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
	top: 0;
	z-index: -1;
}

.hero-section .hero-section__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
	height: 100%;
}

.hero-section::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8) 0,
		rgba(0, 0, 0, 0) 60%,
		rgba(0, 0, 0, 0.8) 100%
	);
}

.hero-section__content {
	text-align: center;

	& h3 {
		padding: 30px 0;
	}

	& h4 {
		padding-bottom: 30px;
	}
}

form {
	width: 70%;
	display: flex;

	& input {
		width: 70%;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 20px;
		border: 1px solid var(--gray);
		border-radius: 5px;
		font-size: 18px;
	}

	& button {
		margin-left: 10px;
		width: 30%;
		font-size: 18px;

		&:after {
			content: '>';
			padding-left: 10px;
		}
	}
}

.netflix-info {
	width: 100%;
	background-color: var(--black);
}

.netflix-info_inner {
	display: flex;
	color: var(--white);
	justify-content: center;
	align-items: center;
	height: auto;
	gap: 30;
	padding: 100px 0;

	& h2 {
		padding-bottom: 20px;
	}
}

.netflix-info-reverse {
	width: 100%;
	background-color: var(--black);
	display: flex;
}

.netflix-info__image,
.netflix-info__content {
	display: flex;
	flex: 1;
}

.netflix-info__image {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.netflix-info__download-section {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--gray);
	padding: 10px;
	border-radius: 5px;
	max-width: fit-content;
	position: relative;
	background-color: var(--black);
	bottom: 90px;
	& img {
		max-width: 50px;
	}
}

.faq-accordion {
	width: 100%;
	background-color: var(--black);
	height: auto;
	padding: 50px 0;
}

.accordion-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	color: var(--white);
}

.accordion-header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	background-color: var(--dark-gray);
	padding: 20px;
}

.accordion-item {
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
	position: relative;
}

.icon {
	font-size: 20px;
}

h2 {
	text-align: center;
	padding-bottom: 20px;
}

.accordion-content {
	display: none;
	background-color: var(--dark-gray);
	color: var(--white);
	margin-top: 5px;
	padding: 20px;
}
